@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Press+Start+2P&family=Raleway:wght@300&display=swap');
@import url('box.css');

:root{
    
}


body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smothing: antialiased;
    -moz-osx-font-smothing: grayscale;
}


