/*
.page{
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
*/

.page{
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

.menu-panel{
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-family: sans;
  width: 100%;
  padding:0 1em;
  left: 0;
  top: 0;
}

.menu-panel_dark{
  background-color:rgb(44, 44, 44);
  line-height: 3em;
}

.menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-button{
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  transition: color 0.4s, background 0.4s;
}

.menu-button_dark{
  color: white;
  background-color:rgb(80, 80, 80)
}

.menu-button_dark:hover{
  background-color: green;
}

.logo{
  display: flex;
  text-decoration: none;
  align-items: center;
}

.logo__img{
  height: 2em;
}

.logo__text{
  margin: 0;
  padding: 0 0.5em;
  text-decoration: none;
  color: white;
}
